body {
    background-color: rgb(247, 184, 102);
}

h1 {
    color: rgb(74, 41, 0);
    font-size: 42px;
font-family: Copperplate;
}

header{
    
    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(62, 25, 2);
  padding:  30px 100px;
  color: rgb(232, 154, 60);

}


*{
   margin: 0%;
   box-sizing: border-box;
}

.texto{
 
color: rgb(193, 106, 7);

}

.titulo{
    color: rgb(74, 41, 0);
    font-size: 42px;
font-family: Copperplate;
top: 1;
    left: 1;
}

.buscar {
    top: 1;
    left: 1;
}


.categoria{
    text-align: center;
    list-style-position: inside;
}

.buscar{
text-align: center;

}

#imagem{
margin: 0;
border-radius: 30%;
}

.choco{
    font-size: 48px;
    font-family: Brush Script;
    color: rgb(34, 20, 1);
}

.botao{
    background-color: rgb(135, 83, 4);
    color: rgb(34, 25, 1);
    border-radius: 10%;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 24, 3);
}

table{
    margin: auto;
    background-color: rgb(153, 53, 33);
    color: rgb(218, 139, 55);
}
textarea{
    background-color: rgb(255, 226, 159);
    border-radius: 5%;
}

.redes{
    font-family: Copperplate;

}

header nav ul li a {

    color: rgb(243, 164, 28);
    text-decoration: none;
    display: inline-block
}

header nav ul li{
    list-style: none;
}
